<nav>
    <div class="nav-wrapper">
      <nav>
    <div class="nav-wrapper">
      <a>Teste para vaga de desenvolvedor Front End</a>
      <a href="#" data-target="mobile" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>

      <!--Desktop-->
      <ul class="right hide-on-med-and-down">
        <li routerLinkActive="active">
           <a [routerLink]="['/dashboard']">Dashboard</a>
        </li>

        <li routerLinkActive="active">
          <a [routerLink]="['/cadastro']">Cadastrar Mensagens</a>
        </li>
      </ul>
    </div>
  </nav>
  
  
  <!-- Mobile-->
  <ul class="sidenav" id="mobile">
    <li routerLinkActive="active">
       <a [routerLink]="['/dashboard']">Dashboard</a>
    </li>

    <li routerLinkActive="active">
       <a [routerLink]="['/cadastro']">Cadastrar Mensagens</a>
    </li>
  </ul>
  